// header
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
  font-family: "Rubik", sans-serif;
}
body {
  margin: 0;
  font-size: 2rem;
}
.App {
  position: relative;
  max-width: 1366px;
  padding: 40px 0 0;
  margin: 0 auto;
}
// header component
.header {
  margin: 0 0 70px;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__nav-list {
    list-style: none;
    display: flex;
  }
  &__nav-lang {
    padding: 16px 72px;
    background: #ded7c6;
    border-radius: 200px;
  }
  &__nav-lang-link {
    cursor: pointer;
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
    &--selected {
      border-bottom: solid 2px #fff;
    }
  }
  &__nav-lang-link:first-child {
    margin: 0 12px 0 0;
  }
  &__nav-sns-item {
    margin: 0 24px 0 0;
  }
  &__nav-sns-item:last-child {
    margin: 0;
  }
  &__nav-sns-link {
    display: inline-block;
  }
  &__nav-sns-icon {
    max-width: 100%;
    height: auto;
  }
}
// about component
.about {
  margin: 0 0 112px;
  text-align: center;
  &__info {
    max-width: 900px;
    margin: 0 auto;
  }
  &__info-name {
    font-size: 3.6rem;
    margin: 0 0 12px;
  }
  &__info-occ {
    margin: 0 0 52px;
  }
}
.author {
  margin: 0 0 52px;
  &__pic {
    max-width: 100%;
    height: auto;
  }
}
// career component
.career {
  margin: 0 0 112px;
  &__heading {
    text-align: center;
    font-size: 3.6rem;
    margin: 0 0 96px;
  }
  &__timeline {
    position: relative;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    list-style: none;
  }
  &__timeline::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
    width: 3px;
    height: 250px;
    background: #ded7c6;
  }
  &__item {
    position: relative;
    display: flex;
    justify-content: flex-start;
    padding: 24px 0 24px 36px;
  }
  &__item:nth-child(odd)::after {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    top: 50%;
    right: -16px;
    transform: translateY(-50%);
    background: #ded7c6;
    border-radius: 100%;
  }
  &__item-logo-img {
    width: 60px;
  }
  &__item-logo {
    margin: 0 24px 0 0;
  }
  &__institute,
  &__role {
    font-size: 2.4rem;
    font-weight: 500;
  }
  &__desc {
    font-size: 1.6rem;
  }
}
// projects component
.projects {
  margin: 0 0 112px;
  &__heading {
    text-align: center;
    font-size: 3.6rem;
    margin: 0 0 96px;
  }
  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 72px;
    margin: 0 auto;
  }
  &__project {
    max-width: 600px;
    height: 280px;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: -4px 8px 20px -6px rgba(0, 0, 0, 0.14);
    cursor: pointer;
  }
  &__project-bg {
    height: 100%;
    padding: 20px;
    background: rgba(0, 0, 0, 0.2);
  }
  &__project-bg:hover {
    background: rgba(0, 0, 0, 0.25);
  }
  &__project-name {
    color: #fff;
  }
}
// footer component
.footer {
  padding: 12px 0;
  text-align: center;
}
// overlay component
.overlay {
  visibility: hidden;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  &__bg {
    width: 80%;
    height: 80vh;
    padding: 40px;
    background: rgb(255, 255, 255);
    overflow: scroll;
  }
  &__btn-container {
    margin: 0 0 12px;
    text-align: right;
  }
  &__btn-close {
    position: relative;
    display: inline-block;
    width: 24px;
    height: 24px;
  }
  &__btn-close::before {
    position: absolute;
    content: "";
    height: 24px;
    width: 3px;
    transform: rotate(45deg);
    background: #000;
    top: -10px;
    right: -10px;
  }
  &__btn-close::after {
    position: absolute;
    content: "";
    height: 24px;
    width: 3px;
    transform: rotate(135deg);
    background: #000;
    top: -10px;
    right: -10px;
  }
  &__prj-name {
    margin: 0 0 36px;
    text-align: center;
    font-size: 3.6rem;
  }
  &__prj-image-container {
    width: 70%;
    margin: 0 auto 20px;
    border-radius: 20px;
    overflow: hidden;
  }
  &__prj-image {
    max-width: 100%;
    height: auto;
  }
  &__prj-desc {
    margin: 0 0 20px;
  }
  &__prj-techs-heading {
    margin: 0 0 12px;
  }
  &__prj-techs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 0 36px;
  }
  &__prj-tech-icon {
    margin: 0 24px 24px 0;
    width: auto;
    max-height: 50px;
  }
  &__prj-tech-icon:last-child {
    margin: 0 0 24px;
  }
  &--visible {
    visibility: visible;
  }
}
.btn {
  margin: 0 12px 0;
  padding: 16px 72px;
  color: #fff;
  font-weight: 500;
  text-decoration: none;
  background: #ded7c6;
  border-radius: 200px;
  &__container {
    display: flex;
    justify-content: center;
  }
}
.btn:hover {
  background: #c9c3b5;
}

// mobile devices
@media (max-width: 767px) {
  body {
    font-size: 1.6rem;
  }
  .App {
    padding: 16px 0 0;
  }
  // header component
  .header {
    margin: 0 0 70px;
    &__nav-list {
      text-align: center;
    }
    &__nav-lang {
      padding: 16px;
      background: none;
    }
    &__nav-lang-link {
      color: #ded7c6;
      &--selected {
        border-bottom: solid 2px #ded7c6;
      }
    }
    &__nav-sns {
      padding: 16px;
    }
    &__nav-sns-item {
      margin: 0 12px 0 0;
      font-size: 0;
    }
    &__nav-sns-icon {
      max-width: 40px;
    }
  }
  // about component
  .about {
    margin: 0 0 96px;
    padding: 0 12px;
  }
  // author component
  .author {
    margin: 0 0 24px;
    &__pic {
      max-width: 70%;
      height: auto;
    }
  }
  // career component
  .career {
    margin: 0 0 96px;
    padding: 0 12px;
    &__heading {
      margin: 0 0 36px;
    }
    &__timeline {
      display: block;
    }
    &__timeline::after {
      content: none;
    }
    &__item {
      padding: 24px 12px;
      &--empty {
        padding: 0;
      }
    }
    &__item:nth-child(odd)::after {
      content: none;
    }
  }
  // projects component
  .projects {
    margin: 0 0 96px;
    padding: 0 12px;
    &__heading {
      margin: 0 0 60px;
    }
    &__container {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 36px;
    }
    &__project {
      height: 200px;
      border-radius: 12px;
    }
  }
  // footer component
  .footer {
    background: #ded7c6;
  }
  // overlay component
  .overlay {
    &__bg {
      width: 90%;
      height: 90vh;
      padding: 12px;
    }
    &__btn-close::before {
      top: 0;
      right: 10px;
    }
    &__btn-close::after {
      top: 0;
      right: 10px;
    }
    &__prj-name {
      font-size: 3.2rem;
    }
    &__prj-image-container {
      width: 100%;
    }
    &__prj-desc {
      margin: 0 0 36px;
    }
    &__prj-tech-icon {
      margin: 0 24px 24px 0;
      width: auto;
      max-height: 30px;
    }
    &__prj-tech-icon:last-child {
      margin: 0 0 24px;
    }
    &--visible {
      visibility: visible;
    }
  }
  .btn {
    width: 70%;
    margin: 0 12px 12px;
    padding: 16px 0;
    text-align: center;
    &__container {
      flex-wrap: wrap;
    }
  }
}
